<ul>
  <% @search_from_itunes[:results].each do |result| %>
    <li>
      <h6><%= result[:trackCensoredName] %></h6>

      <% if !@is_artist %>
        <h6><%= result[:artistName] %></h6>
      <% end %>

      <img src='<%= result[:artworkUrl100] %>' >
    </li>

  <% end %>
</ul>

<ul>
  <% @search_from_db.each do |search| %>
    <li>
      <h6><%= search.name %></h6>

      <% if !@is_artist %>
        <h6><%= search.artist %></h6>
      <% end %>

      <!-- <img src='<%#= result[:artworkUrl100] %>' > --> <!-- Grab generic image for artist? -->
    </li>

  <% end %>
</ul>
