<h1>This is the partial for admin</h1>


<%= form_for @playlist do |f| %>
  <div class="file-field input-field">
    <div class="btn">
      <span>Files</span>
      <%= f.file_field :xml_file, multiple: true %>
    </div>

    <div class="file-path-wrapper">
      <%= f.text_field :name , placeholder:"Upload one or more files", class:"file-path validate"%>
    </div>
  </div>
  <%= f.submit %>
<% end %>

<ol>
  <% @playlists.each do |playlist| %>
      <li>
        <%= playlist.name %>
      </li>
  <% end %>
</ol>

<ol>
  <% @songs.each do |song| %>
      <li>
        <%= song.name %><br />

        <%= song.artist %><br />

        <%= song.genre %><br />

        <%= song.bit_rate %><br />

        <%= song.sample_rate %><br />

        <%= song.normalization %><br />
      </li><br />
  <% end %>
</ol>
